.addButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: larger;
}