.addButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: larger;
}
img.imgCart {
    height: 20px;
    width: 20px;
    margin-top: 6.5px;
}
img.productImage {
    max-height: 30vh;
    max-width: auto;
}
.buttonClass{
    background-color: aqua
}

